/node_modules
/public/hot
/vendor
.env
.env.example
.env.standa
.env.backup
.storage
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
hd.txt
.vscode